.App {
  /* text-align: center; */
}

.App-sidebar {
  border-right: solid;
  border-right-width: 2px;
  border-right-color: rgb(100, 100, 100);
  min-height: 90vh;
  overflow-x: scroll;
  text-align: center;
}

.App-sidebar .logo {

}

.App-sidebar .nav {
  text-align: left;
}

.App-footer {
  border-top: solid;
  border-top-width: 2px;
  border-top-color: rgb(100, 100, 100);
}
